In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
import psycopg2
from sqlalchemy import create_engine
from config import db_password

In [3]:
# Load the housing dataset for analysis
housing_df = pd.read_csv("./Resources/kc_house_data.csv")
housing_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
housing_df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [6]:
# Convert date column to datetime
housing_df["date"] = pd.to_datetime(housing_df["date"], infer_datetime_format=True)  
housing_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

## ETL - Loading to Postgres

In [7]:
# Loading dataset into postgres

# db_string = f"postgresql://postgres:{db_password}@localhost:5432/KCHousing"
# engine = create_engine(db_string)

# housing_df.to_sql(name='housing', con=engine)
  
# Use sql alchemy to connect to postgres database
# Research to-sql func to load cleaned data to postg

In [8]:
# min & max
print(housing_df["price"].min())
print(housing_df["price"].max())

75000.0
7700000.0

In [9]:
# Establish the spending price bins and group names.
price_bins = [0, 300000, 600000, 1000000, 10000000]
# group_names = ["<$300K", "$300K-600K", "$600K-1M", "$1M>"]
group_names = [0,1,2,3]

housing_df['bin']=pd.cut(housing_df.price,bins=price_bins, labels=group_names)
housing_df.head()

# Later: Change bin sizes and see how it affects

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bin
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,1
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,0
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,2
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,1

In [10]:
housing_df.groupby(['bin']).count()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
bin,,,,,,,,,,,,,,,,,,,,,
0,4570,4570,4570,4570,4570,4570,4570,4570,4570,4570,...,4570,4570,4570,4570,4570,4570,4570,4570,4570,4570
1,10787,10787,10787,10787,10787,10787,10787,10787,10787,10787,...,10787,10787,10787,10787,10787,10787,10787,10787,10787,10787
2,4791,4791,4791,4791,4791,4791,4791,4791,4791,4791,...,4791,4791,4791,4791,4791,4791,4791,4791,4791,4791
3,1465,1465,1465,1465,1465,1465,1465,1465,1465,1465,...,1465,1465,1465,1465,1465,1465,1465,1465,1465,1465

In [14]:
# Pick the features for modeling
# features = ['bedrooms','bathrooms','sqft_living','sqft_lot','floors', 'yr_built', 'zipcode']
trimmed_df = housing_df.drop(columns=["price","date", "lat", "long", "yr_renovated"])
trimmed_df.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,zipcode,sqft_living15,sqft_lot15,bin
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,98178,1340,5650,0
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,98125,1690,7639,1
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,98028,2720,8062,0
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,98136,1360,5000,2
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,98074,1800,7503,1

In [15]:
X = trimmed_df.drop(columns="price")
y = trimmed_df['bin']
X

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,zipcode,sqft_living15,sqft_lot15,bin
0,7129300520,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,98178,1340,5650,0
1,6414100192,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,98125,1690,7639,1
2,5631500400,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,98028,2720,8062,0
3,2487200875,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,98136,1360,5000,2
4,1954400510,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,98074,1800,7503,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,98103,1530,1509,1
21609,6600060120,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,98146,1830,7200,1
21610,1523300141,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,98144,1020,2007,1
21611,291310100,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,98027,1410,1287,1
21612,1523300157,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,98144,1020,1357,1

## 1. Linear Regression - StandardScaler

In [23]:
# Create the model by using LinearRegression.
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [25]:
# Split the training set
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    random_state=0, 
                                                    train_size = .75)

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,zipcode,sqft_living15,sqft_lot15,bin
0,7129300520,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,98178,1340,5650,0
1,6414100192,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,98125,1690,7639,1
2,5631500400,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,98028,2720,8062,0
3,2487200875,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,98136,1360,5000,2
4,1954400510,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,98074,1800,7503,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,98103,1530,1509,1
21609,6600060120,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,98146,1830,7200,1
21610,1523300141,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,98144,1020,2007,1
21611,291310100,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,98027,1410,1287,1
21612,1523300157,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,98144,1020,1357,1

### Scale the data

In [27]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [28]:
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [30]:
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)
predictions

array([0, 3, 1, ..., 2, 1, 1], dtype=int64)

In [35]:
# Generate confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

# Print classification report

from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1152
           1       1.00      1.00      1.00      2717
           2       1.00      1.00      1.00      1165
           3       1.00      1.00      1.00       370

    accuracy                           1.00      5404
   macro avg       1.00      1.00      1.00      5404
weighted avg       1.00      1.00      1.00      5404

In [ ]:
# Fit the model to the training data, and calculate the scores for the training and testing data.

model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)
print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', 
                                random_state=1)
classifier

In [ ]:
classifier.fit(X_train, y_train)

In [ ]:
y_predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": y_predictions, "Actual": y_test})

In [ ]:
# run through std scaler, min max and x-scaler
# Try linear regression without bins

## Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
reg = DecisionTreeRegressor(max_depth = 2, random_state = 0)

In [ ]:
# Fit the model
reg.fit(X_train, y_train)

# Predict
reg.predict(X_test[0:10])

In [ ]:
X_test.head()

In [ ]:
score = reg.score(X_test, y_test)
print(score)

## Change number of features

In [ ]:
# Load the housing dataset for analysis
housing_df = pd.read_csv("./Resources/kc_house_data.csv")
housing_df.head()

# Establish the spending price bins and group names.
price_bins = [0, 300000, 600000, 1000000, 10000000]
# group_names = ["<$300K", "$300K-600K", "$600K-1M", "$1M>"]
group_names = [0,1,2,3]

housing_df['bin']=pd.cut(housing_df.price,bins=price_bins, labels=group_names)
housing_df.head()

# Pick the features for modeling
# features = ['bedrooms','bathrooms','sqft_living','sqft_lot','floors', 'yr_built', 'zipcode']
X = housing_df.drop(columns=["price", "date", "lat", "long", "waterfront", "view", "grade", "condition", "yr_renovated"])
y = housing_df['bin']
X

In [ ]:
from sklearn.tree import DecisionTreeRegressor
reg = DecisionTreeRegressor(max_depth = 2, random_state = 0)
# Fit the model
reg.fit(X_train, y_train)

# Predict
reg.predict(X_test[0:10])

In [ ]:
score = reg.score(X_test, y_test)
print(score)

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_predictions))

In [ ]:
# Generate confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_predictions)

# Print classification report

from sklearn.metrics import classification_report
print(classification_report(y_test, y_predictions))

## Change Bin size and rerun

In [ ]:
# Load the housing dataset for analysis
housing_df = pd.read_csv("./Resources/kc_house_data.csv")
# housing_df.head()

# Establish the spending price bins and group names.
price_bins = [0, 300000, 450000, 700000, 10000000]
# group_names = ["<$300K", "$300K-450K", "$450K-700K", "$700K>"]
group_names = [0,1,2,3]

housing_df['bin']=pd.cut(housing_df.price,bins=price_bins, labels=group_names)
housing_df

# Change bin sizes and see how it affects 
housing_df.groupby(['bin']).count()

In [ ]:
# Pick the features for modeling
# features = ['bedrooms','bathrooms','sqft_living','sqft_lot','floors', 'yr_built', 'zipcode']
X = housing_df.drop(columns=["price", "date", "lat", "long", "waterfront", "view", "grade", "condition", "yr_renovated"])
y = housing_df['bin']
X

In [ ]:
from sklearn.tree import DecisionTreeRegressor
reg = DecisionTreeRegressor(max_depth = 2, random_state = 0)
# Fit the model
reg.fit(X_train, y_train)

# Predict
reg.predict(X_test[0:10])

In [ ]:
score = reg.score(X_test, y_test)
print(score)

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_predictions))

In [ ]:
# Generate confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_predictions)

# Print classification report

from sklearn.metrics import classification_report
print(classification_report(y_test, y_predictions))